<!--<p> TEST BODY COMPONENT </p>-->


 <!-- Draggable DIV -->
<div id="error">
  <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
  <div id="errorheader">CRITICAL DRAGGABLE ERROR</div>
  <p>ERROR</p>
  <p>Error Code 0xC47</p>
  <p>UNGOOGLEABLE_ERROR_CODE</p>

  <button><p>OK</p></button>

</div> 

<section class="DesktopApp">

<!--<img src="Static\Images\recyclbinicon.png" alt="a stylised icon emulating the windows XP recycle bin"> 
<img src="Static\Images\mcicon.png" alt="a stylised icon emulating the game minecraft"> 
<img src="Static\Images\painticon.png" alt="a stylised icon emulating the ms paint icon"> -->

<!--background image-->
</section>
<nav>
<!--dashbar-->
</nav>
