<footer> 

    <img src="Static\Images\trolldows.png" alt="" class="startbutton" id="startbutton">
       
    <button class="startbar"><p>start</p></button class ="startbar">

    <button class="nonfunctional"><p>.</p></button class="nonfunctional">

    <ul>

    <li>
    <img src="Static\Images\filicon.png" alt=""> 
    </li>

    <li>
    <img src="Static\Images\ieicon.png" alt=""> 
    </li>

    <li>
    <img src="Static\Images\printicon.png" alt=""> 
    </li>

    <li>
    <img src="Static\Images\painticon.png" alt=""> 
    </li>

    </ul>

   

</footer>