#BSOD
{
    position: fixed; 
    display: block; 
    width: 100vw; 
    height: 100vh; 
    z-index: 1000; 
    background: rgba(30, 30, 30, 1);
    top: 0;
}

#BSOD img
{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}